
 
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  	.row.content {height: 300px}
  		
    .form-horizontal label {margin-left: 50px}
    /*
    .form-horizontal input {margin-left: 50px}
    .form-control {margin-left: 50px}
    .margin1 {margin-left: 50px}
    .btn {margin-left: 50px}
    .help-block {margin-left: 50px}
    */

    h3 {color: red; margin-left: 50px} 
    
    /* 
    body {
  		padding-top: 60px;
	}
	@media (max-width: 979px) {
  		body {
    		padding-top: 0px;
  		}
	}
	*/
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #000;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 65px;
      }
      .row.content {height:auto;} 
    }
